# Entornos Virtuales y Cache
config.json
venv/
env/
__pycache__/
.ruff_cache/
*.pyc

# Modelos Pesados de IA y Pesos
*.pt
yolo*.pt
*.onnx
*.tflite
*_ncnn_model/

# Archivos de Entrenamiento, Logs y Dataset
Proyecto_FlexSort/
runs/
dataset/
videos_crudos/

# Sistema Operativo y Logs Locales
.DS_Store
Thumbs.db
last_sync.json
pi_config.json
